<p>MENU</p>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Opcja pierwsza</a>
    <ng-template ngbNavContent>
      <p>
        Przykładowy tekst <br />
        opcji pierwszej <br />
      </p>
    </ng-template>
  </li>
<li ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="2">
    <a ngbNavLink >Opcja druga</a>
    <ng-template ngbNavContent>
      <p>
        Przykładowy tekst <br />
        opcji drugiej <br />
        Przykładowy tekst <br />
        opcji drugiej <br />
        Przykładowy tekst <br />
        opcji drugiej <br />
        Przykładowy tekst <br />
        opcji drugiej <br />
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<br />
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
      </div>
    </nav>
  </div>
</nav>

